<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
        {{ with .Keywords }}<meta name="keywords" content="{{ delimit . ", " }}"/>{{ end }}
        <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"/>
        <link rel="canonical" href="{{ .Permalink }}"/>
        <link rel="stylesheet" href="{{ "style.css" | relURL }}" type="text/css" charset="utf-8"/>
        <link rel="stylesheet" href="{{ "syntax.css" | relURL }}" type="text/css" charset="utf-8"/>
        {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
        <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    </head>
    <body>
        <a href="#main" id="skip">Skip to content</a>
        <header>
            {{ if .Title }}
            <h1 id="title">{{ .Title }}</h1>
            {{ with .Description }}<span class="sub-title">{{ . }}</span>{{ end }}
            {{ else }}
            <h1 id="title">{{ .Site.Title }}</h1>
            {{ with .Site.Params.description }}<span class="sub-title">{{ . }}</span>{{ end }}
            {{ end }}
        </header>
        <nav id="sidebar">
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}" {{ with .Params.rel }} rel="{{ . }}" {{ end }}>{{ .Name }}</a></li>
                {{ end }}
                {{ with .Site.Home.OutputFormats.Get "rss" -}}
                <li>
                    <a href="{{ .Permalink }}">
                        <svg viewBox="0 0 25 25" aria-label="RSS feed" style="width: 1rem; aspect-ratio: 1/1;">
                        <path fill="currentColor" d="M3.7 17.5a3.7 3.7 0 1 0 0 7.4 3.7 3.7 0 0 0 0-7.4z"></path>
                        <path fill="currentColor" d="M.4 8.1c-.2 0-.4.2-.4.4v4.7c0 .2.2.4.4.4 6 0 10.9 4.9 10.9 11 0 .1.2.3.4.3h4.7c.2 0 .4-.2.4-.4v-.1C16.7 15.4 9.4 8.1.4 8.1z"></path>
                        <path fill="currentColor" d="M24.9 24.4C24.9 10.9 13.9 0 .4 0 .2 0 0 .2 0 .4v4.8c0 .2.2.4.4.4a19 19 0 0 1 18.9 19c0 .1.2.3.4.3h4.8c.2 0 .4-.2.4-.4v-.1z"></path>
                        </svg>
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <main id="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            © 2023-2024 Emmaline Alme. This work is openly licensed via <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license noopener noreferrer">CC BY-SA 4.0<span class="cc-icon"><svg viewBox="0 0 30 30"><use href="/cc-icons.svg#cc-logo"></use></svg></span><span class="cc-icon"><svg viewBox="0 0 30 30"><use href="/cc-icons.svg#cc-by"></use></svg></span><span class="cc-icon"><svg viewBox="0 0 30 30"><use href="/cc-icons.svg#cc-sa"></use></svg></span>
            </a> 
        </footer>
    </body>
</html>
