{{ define "main" }}
<article>
    <header>
        <div id="title">
            {{ if .Title }}
            <h1>{{ .Title }}</h1>
            {{ with .Description }}<p>{{ . }}</p>{{ end }}
            {{ else }}
            <h1>{{ .Site.Title }}</h1>
            {{ with .Site.Params.description }}<p>{{ . }}</p>{{ end }}
            {{ end }}
        </div>
        <p>last updated <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "January 2, 2006" }}</time></p>
    </header>
    {{ if .Params.toc }}
    <aside id="toc">
        <a class="skip" href="#post">Skip table of contents</a>
        <h2 id="toc-title">Contents</h2>
        {{.TableOfContents}}
    </aside>
    <a id="post"></a>
    {{ end }}
    {{ .Content }}
    {{ partial "footer.html" }}
</article>
{{ end }}
