{{ define "main" }}
<header id="title">
    {{ if .Title }}
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<p>{{ . }}</p>{{ end }}
    {{ else }}
    <h1>{{ .Site.Title }}</h1>
    {{ with .Site.Params.description }}<p>{{ . }}</p>{{ end }}
    {{ end }}
</header>
{{ .Content }}
{{ range $section := .Site.MainSections }}
{{ with (where $.Site.RegularPages "Section" .) }}
<h2>{{ title $section }}</h2>
<ul class="post-list">
    {{ range . }}
    <li>
        <a href="{{ .Permalink }}">{{ .Title }}{{ with .Description }}, {{ . }}{{ end }}</a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}
{{ partial "footer.html" }}
{{ end }}
