#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

:root {
    --bg: black;
    --fg: white;
    --link: #09f;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
    max-width: 50rem;
    padding: 0 2em;
    margin: 1em auto;
    line-height: 1.6;
    display: grid;
    grid-template-columns: auto 10rem;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "header  header " 
        "content sidebar" 
        "footer  footer ";
}

header {
    border-bottom: 1px solid;
    grid-area: header;
    padding-bottom: 0.25em;
    margin-bottom: 0.5rem;
}

#sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0.5rem;
    align-self:start;
    margin-left: 0.5rem;
    font-size:115%;
}

#sidebar ul {
    padding: 0;
    list-style: none;
}

#main {
    grid-area: content;
}

footer {
    margin-top: 2em;
    grid-area: footer;
}

ul {
    margin: 0;
}

#title {
    display: inline;
    margin-right: 0.25em;
}

.sub-title {
    font-style: italic;
    font-weight: normal;
    font-size: 12pt;
}

h1, h2, h3 {
    margin-bottom: 0.25em;
    line-height: 1.3;
}

p {
    margin-top: 0;
}

a {
    color: var(--link);
}

nav a, #main-nav a:visited {
    color: inherit;
}

footer a {
    color: inherit; 
}

.cc-icon svg {
    width: 1.25em;
    height: 1.25em;
    display: inline;
    vertical-align: middle;
    margin-left: 3px;
}

.chroma {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 11pt;
}

article img {
    max-width: 80%;
    padding: 1rem;
    display: block;
    margin: auto;
}

hr {
    height: 1px;
    border: 0;
    background: var(--fg);
}

.footnotes ol p {
    margin: 0
}
